@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97.6471%;
    --foreground: 0 0% 20%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;

    --primary: 246.9065 74.3316% 63.3333%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210.3704 75.7009% 79.0196%;
    --secondary-foreground: 0 0% 20%;

    --muted: 45 15.625% 74.902%;
    --muted-foreground: 0 0% 43.1373%;

    --accent: 72 17.9283% 49.2157%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 83.1373%;
    --input: 0 0% 83.1373%;
    --ring: 246.9065 74.3316% 63.3333%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 220 14.7541% 11.9608%;
    --foreground: 0 0% 89.8039%;

    --card: 197.1429 6.9307% 19.8039%;
    --card-foreground: 0 0% 89.8039%;

    --popover: 197.1429 6.9307% 19.8039%;
    --popover-foreground: 0 0% 89.8039%;

    --primary: 246.9065 74.3316% 63.3333%;
    --primary-foreground: 0 0% 100%;

    --secondary: 274.6154 100% 25.4902%;
    --secondary-foreground: 0 0% 89.8039%;

    --muted: 0 0% 26.6667%;
    --muted-foreground: 0 0% 63.9216%;

    --accent: 218.5401 79.1908% 66.0784%;
    --accent-foreground: 0 0% 89.8039%;

    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 26.6667%;
    --input: 0 0% 26.6667%;
    --ring: 246.9065 74.3316% 63.3333%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
